In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
%matplotlib inline

In [12]:
df=pd.read_csv("IRIS.csv")
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width          species
76            6.8          2.8           4.8          1.4  Iris-versicolor
124           6.7          3.3           5.7          2.1   Iris-virginica
51            6.4          3.2           4.5          1.5  Iris-versicolor
129           7.2          3.0           5.8          1.6   Iris-virginica
41            4.5          2.3           1.3          0.3      Iris-setosa
89            5.5          2.5           4.0          1.3  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
101           5.8          2.7           5.1          1.9   Iris-virginica
13            4.3          3.0           1.1          0.1      Iris-setosa
92            5.8          2.6           4.0          1.2  Iris-versicolor

In [13]:
type_flower=df['species'].unique()
type_flower

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [14]:
df.shape

(150, 5)

In [15]:
df.iloc[16]

sepal_length            5.4
sepal_width             3.9
petal_length            1.3
petal_width             0.4
species         Iris-setosa
Name: 16, dtype: object

In [16]:
sp_col=df['species']

In [19]:
target=[]
rows=df.shape[0]
for i in range(rows):
    index=np.where(type_flower==df.iloc[i][4])[0][0]
    target.append(index)

C:\Users\rushi\AppData\Local\Temp\ipykernel_15300\358869224.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  index=np.where(type_flower==df.iloc[i][4])[0][0]

In [20]:
target_new=pd.Series(target)
target_new

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Length: 150, dtype: int64

In [21]:
df2=df.drop(['species'],axis=1)

In [22]:

new_df=pd.concat([df2,target_new],axis=1)

In [23]:
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width  0
0           5.1          3.5           1.4          0.2  0
1           4.9          3.0           1.4          0.2  0
2           4.7          3.2           1.3          0.2  0
3           4.6          3.1           1.5          0.2  0
4           5.0          3.6           1.4          0.2  0

In [24]:
rename_list={0:'species'}
new_df.rename(columns=rename_list,inplace=True)
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

# train test split

In [25]:
x=new_df.drop(['species'],axis=1)
y=new_df['species']
new_df.shape

(150, 5)

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [29]:
knn.score(x_test,y_test)

1.0